<section class="h-full border border-gray-300 bg-white rounded-xl flex flex-col">

  <!-- Título -->
  <div class="px-4 sm:px-5 py-3 border-b border-b-gray-300">
    <h3 class="font-medium text-sm">Lista de usuarios</h3>
  </div>

  <!-- Contenido -->
  <div class="px-4 py-5 sm:px-5 space-y-5 h-full flex flex-col">

    <!-- Buscador -->
    <div class="relative">
      <input type="text" placeholder="Buscar usuarios asignados"
        class="w-full text-sm px-4 py-2 border border-gray-300 pl-11 focus:outline-green-600 rounded-md">
      <lucide-icon [img]="Search" class="size-4 stroke-[1.5] absolute text-gray-500 top-0 py-2 start-2 h-full" />
    </div>

    <!-- Lista de usuarios -->
    <div class="divide-y divide-gray-200 h-full">
      @for (user of users; track $index) {
        <div class="flex items-center">
          <a routerLink="/dashboard/usuarios/4"
            class="group py-3 grid grid-cols-[auto_1fr] w-full items-center gap-x-3">

            <!-- Foto -->
            <div class="size-12 rounded-full bg-white contain-content">
              <img
                [src]="user.image"
                [alt]="user.name"
                class="size-full object-cover">
            </div>

            <!-- Informacion -->
            <div>
              <p class="text-sm font-medium underline-offset-4 group-hover:underline group-hover:text-primary">{{ user.name }}</p>
              <p class="text-sm text-gray-500">Asignado el {{ user.createdAt }}</p>
            </div>
          </a>
          <!-- Quitar Rol -->
          <button class="text-xs px-2 py-1.5 border border-red-700 rounded-lg text-red-700 text-nowrap font-medium hover:bg-red-700 hover:text-white transition-colors duration-300">
            Quitar
          </button>
        </div>
      }
    </div>

    <!-- Paginación -->
    <div class="flex items-center justify-between">
      <!-- Resultados -->
      <p class="text-sm">10 de 136 resultados</p>

      <!-- Páginas -->
      <div class="flex items-center gap-x-0.5">
        <button class="paginator-active">1</button>
        <button class="paginator-inactive">2</button>
        <button class="paginator-inactive hidden sm:block">3</button>
        <button class="paginator-inactive">
          <lucide-icon [img]="ChevronRight" class="justify-self-center size-5" />
        </button>
      </div>
    </div>

  </div>

</section>
