<section class="w-full bg-white rounded-xl border border-gray-300 contain-content">

  <!-- Header -->
  <div class="grid grid-cols-[1fr_auto] sm:grid-cols-[1fr_auto_auto] gap-x-3 items-center justify-between px-5 py-3.5 border-b border-b-gray-300">

    <!-- Titulo -->
    <h3 class="font-medium text-sm">Pedidos</h3>

    <!-- Calendario -->
    <button class="text-xs flex items-center gap-x-1 font-medium p-2 border border-gray-300 rounded-lg hover:bg-gray-100">
      <span>25 Jul - 25 Ago</span>
      <lucide-icon [img]="ChevronDown" class="size-4 stroke-[1.5]"/>
    </button>

    <!-- Agregar Actividad -->
    <button class="hidden text-xs sm:flex items-center gap-x-1 font-medium p-2 border border-gray-300 rounded-lg hover:bg-gray-100">
      <lucide-icon [img]="Plus" class="size-4 stroke-[1.5]"/>
      <span>Agregar Actividad</span>
    </button>
  </div>

  <!-- Contenido -->
  <div class="grid xl:grid-cols-[1fr_auto] lg:min-h-[22rem]">

    <!-- Chart -->
    <div class="w-full min-h-80">
    </div>

    <!-- Resumen -->
    <div class="lg:w-sm w-full px-5 pt-3 pb-5 space-y-5 max-lg:border-t max-lg:border-t-gray-300 lg:border-l lg:border-l-gray-300">

      <!-- Header -->
      <div class="border-b border-b-gray-300 flex gap-x-5">
        <button type="button" class="border-b-2 px-0 py-2 text-sm border-b-primary">Pedidos</button>
        <button type="button" class="border-b-2 px-0 py-2 text-sm border-b-transparent">Ventas</button>
      </div>

      <!-- Content -->
      <div class="space-y-3">
        <h3 class="text-2xl font-semibold">3,562</h3>

        <!-- Ranger Slide -->
        <div class="w-full bg-gray-300 relative rounded-full py-1">
          <div class="bg-primary absolute py-1 rounded-l-full w-[70%] top-0"></div>
          <div class="py-2 rounded-full bg-primary w-[10px] border-2 border-white absolute top-[-5px] start-[70%]"></div>
        </div>

        <div class="text-xs flex items-center justify-between">
          <p>0</p>
          <p>10.000</p>
        </div>

        <p class="text-xs text-gray-500">Un desglose de información detalla de pedidos realizados.</p>
      </div>

      <!-- Boton de mostrar estadísticas -->
      <a routerLink="" class="grid grid-cols-[auto_1fr_auto] items-center gap-x-3 hover:bg-gray-100 rounded-md p-2 text-sm">
        <div class="p-1 rounded-md border border-gray-300 bg-white">
          <lucide-icon [img]="ChartColumn" class="size-4 text-primary"/>
        </div>
        <p class="text-xs font-medium">Mostrar Panel de Estadísticas</p>
        <lucide-icon [img]="ChevronRight" class="size-4 text-gray-500"/>
      </a>
    </div>
  </div>

</section>
