<div class="flex flex-col divide-y divide-gray-200">

  @for (role of roles; track $index) {

    <a routerLink="/dashboard/roles/{{ role.id }}"
      class=" bg-white py-5 sm:shadow-xs group"
    >

      <div>
        <p class="font-medium underline-offset-4 group-hover:text-primary group-hover:underline">{{ role.name }}</p>
        <p class="text-sm text-zinc-500">{{ role.users }} usuarios asignados</p>

        <p class="text-sm line-clamp-1 mt-3">{{ role.description }}</p>

      </div>

    </a>

  }

</div>
