<section class="divide-y divide-zinc-200">

  @for (product of products; track $index) {
    <div class="py-3 grid grid-cols-[auto_1fr] gap-x-4 gap-y-2">

      <div class="flex items-center gap-x-3 sm:gap-x-5">

        <!-- Imagen -->
        <div class="min-h-18 min-w-18 max-w-18 max-h-18 bg-gray-200 rounded-lg contain-content">
          <img [src]="product.image" alt="" class="h-18 object-cover" />
        </div>

        <div class="space-y-1">
          <div class="flex items-center gap-x-2">
            <!-- Nombre -->
            <a routerLink="/productos/1" class="line-clamp-1 font-semibold text-sm hover:underline underline-offset-4 hover:text-primary">
              {{ product.name }}
            </a>

            <!-- Disponibilidad -->
            @if (product.enabled) {
              <lucide-icon [img]=CircleCheck class="text-green-600 justify-self-center size-4 stroke-[1.5]"/>
            }
            @else {
              <lucide-icon [img]=CircleMinus class="text-gray-700 justify-self-center size-4 stroke-[1.5]"/>
            }
          </div>

          <!-- Categoría -->
          <div class="flex items-center gap-x-2">
            <lucide-icon [img]=Tag class="text-zinc-500 justify-self-center size-3 sm:size-4 stroke-[1.5]"/>
            <p class="text-xs sm:text-sm text-gray-500">
              {{ product.category }}
            </p>
          </div>

          <!-- Precio -->
          <p class="font-medium text-sm">{{ product.price | currency:'S/. ' }}</p>

        </div>
      </div>

    </div>
  }

</section>
