
<section class="w-full flex flex-col gap-y-7 relative">

  <!-- Título -->
  <div class="">
    <a routerLink=".." class="text-primary text-sm hover:underline underline-offset-4 font-semibold">Regresar</a>
    <p class="text-lg font-medium">Administrador</p>
  </div>

  <!-- Contenido -->
  <div class="grid grid-cols-1 xl:grid-cols-2 gap-5">

    <!-- Lista de Usuarios -->
    <component-roles-users-list />

    <!-- Asignar Usuarios -->
    <component-roles-users-search />

  </div>


</section>

