
<!-- Para pedidos -->

@if (state === "Pendiente") {
  <section class="w-fit border border-yellow-600 bg-white rounded-full text-yellow-600 text-xs font-medium py-1 px-2">
    Pendiente
  </section>
}

@if (state === "En Proceso") {
  <section class="w-fit border border-blue-600 bg-white rounded-full text-blue-600 text-xs font-medium py-1 px-2">
    En Proceso
  </section>
}

@if (state === "Entregado") {
  <section class="w-fit border border-green-600 bg-white rounded-full text-green-600 text-xs font-medium py-1 px-2">
    Entregado
  </section>
}

@if (state === "Cancelado") {
  <section class="w-fit border border-red-600 bg-white rounded-full text-red-600 text-xs font-medium py-1 px-2">
    Cancelado
  </section>
}


<!-- Para productos -->

@if (state === "En Promocion") {
  <section class="w-fit border border-yellow-600 bg-white rounded-full text-yellow-600 text-xs font-medium py-1 px-2">
    Promoción
  </section>
}

@if (state === "En Oferta") {
  <section class="w-fit border border-blue-600 bg-white rounded-full text-blue-600 text-xs font-medium py-1 px-2">
    Oferta
  </section>

}
