


<div class="grid md:grid-cols-2 gap-3 gap-x-5">

  <!-- Ventas Totales -->
  <article class="w-full bg-white py-4 px-4 sm:px-5 rounded-lg space-y-2 border border-gray-300">
    <h3 class="text-sm text-gray-600">Ventas Totales</h3>
    <div class="flex gap-x-2 items-end">
      <p class="font-medium text-xl leading-none">S/. 1629.70</p>
      <p class="text-sm text-green-600 font-medium leading-none">
        +15% último mes
      </p>
    </div>
  </article>

  <!-- Pedidos Totales -->
  <article class="w-full bg-white py-4 px-4 sm:px-5 rounded-lg space-y-2 border border-gray-300">
    <h3 class="text-sm text-gray-600">Pedidos Totales</h3>
    <div class="flex gap-x-2 items-end">
      <p class="font-medium text-xl leading-none">98</p>
      <p class="text-sm text-green-600 font-medium leading-none">
        15 último mes
      </p>
    </div>
  </article>

  <!-- Producto mas popular -->
  <article class="w-full bg-white py-4 px-4 sm:px-5 rounded-lg space-y-2 border border-gray-300">
    <h3 class="text-sm text-gray-600">Producto mas popular</h3>
    <a routerLink="/dashboard/productos/1" class="font-medium line-clamp-1 max-w-full hover:text-green-600">
      Sandwich de Pollo + Papas Regulares
    </a>
  </article>

  <!-- Promedio de ventas mensual -->
  <article class="w-full bg-white py-4 px-4 sm:px-5 rounded-lg space-y-2 border border-gray-300">
    <h3 class="text-sm text-gray-600">Promedio de ventas mensual</h3>
    <p class="font-medium text-xl leading-none">S/. 98.63</p>
  </article>

</div>
