
<!-- Detalle -->

@if (details) {

  <div class="px-5 py-3 bg-gray-950 font-medium rounded-full grid grid-cols-[1fr_auto_auto] items-center gap-x-2 text-sm">

    <button class="text-red-400 hover:underline underline-offset-4 mr-4">
      Eliminar
    </button>

    <a routerLink="editar" class="text-green-500 mx-4 border-gray-300 hover:underline underline-offset-4">
      Editar
    </a>

    <a routerLink="exportar" class="text-white ml-4 hover:underline underline-offset-4">
      Exportar
    </a>

  </div>

}

<!-- Editar -->

@if (edit) {

  <div class="p-1.5 bg-gray-950 font-medium rounded-full grid grid-cols-[1fr_auto_auto] items-center gap-x-2 text-xs sm:text-sm">

    <div class="flex items-center gap-x-2 px-2 sm:px-4 text-white">
      <lucide-icon [img]="Info" class="size-5" />
      <p>Cambios sin guardar</p>
    </div>

    <a routerLink=".." class="text-red-400 mx-2 sm:mx-4 hover:underline underline-offset-4">
      Cancelar
    </a>

    <button class="bg-primary px-3 py-2 rounded-full text-white ml-2 sm:ml-4 hover:bg-primary-dark">
      Guardar
    </button>

  </div>

}


<!-- Pedidos -->

@if (orders) {

  <div class="px-5 py-3 bg-gray-950 font-medium rounded-full grid grid-cols-[1fr_auto_auto] items-center gap-x-2 text-sm">

    <button class="text-red-400 hover:underline underline-offset-4 mr-4">
      Eliminar
    </button>

    <a routerLink="editar" class="text-green-500 mx-4 border-gray-300 hover:underline underline-offset-4">
      Editar
    </a>

    <a routerLink="exportar" class="text-white ml-4 hover:underline underline-offset-4">
      Imprimir
    </a>

  </div>

}


<!-- Usuarios -->

@if (disabled) {

  <div class="px-5 py-3 bg-gray-950 font-medium rounded-full grid grid-cols-[1fr_auto_auto] items-center gap-x-2 text-sm">

    <button class="text-red-400 hover:underline underline-offset-4 mr-4">
      Suspender
    </button>

    <a routerLink="exportar" class="text-white pl-4 border-l hover:underline underline-offset-4">
      Exportar
    </a>

  </div>

}
