
<!-- Detalle -->

@if (details) {

  <div class="px-5 py-3 bg-gray-950 font-medium rounded-full grid grid-cols-[1fr_auto_auto] items-center gap-x-2 text-sm">

    <button class="text-red-400 hover:underline underline-offset-4 mr-4">
      Eliminar
    </button>

    <a routerLink="editar" class="text-green-500 mx-4 border-gray-300 hover:underline underline-offset-4">
      Editar
    </a>

    <a routerLink="exportar" class="text-white ml-4 hover:underline underline-offset-4">
      Exportar
    </a>

  </div>

}

@if (disabled) {

  <div class="px-5 py-3 bg-gray-950 font-medium rounded-full grid grid-cols-[1fr_auto_auto] items-center gap-x-2 text-sm">

    <button class="text-red-400 hover:underline underline-offset-4 mr-4">
      Suspender
    </button>

    <a routerLink="exportar" class="text-white pl-4 border-l hover:underline underline-offset-4">
      Exportar
    </a>

  </div>

}
