<section class="w-full flex flex-col gap-y-7">
  <!-- Titulo -->
  <div>
    <a
      routerLink=".."
      class="text-primary text-sm hover:underline underline-offset-4 font-semibold"
      >Regresar</a
    >
    <p class="text-lg font-medium">Editar Categoría</p>
  </div>

  <div class="grid lg:grid-cols-2 xl:grid-cols-[2fr_1fr] gap-5">

    <!-- Formulario -->
    <component-categories-form></component-categories-form>

    <!-- Vista Previa -->
    <component-categories-preview></component-categories-preview>

  </div>

</section>
