<div class="divide-y divide-gray-300 ">

  <section class="grid grid-cols-[auto_1fr_1fr_auto] py-3 items-center gap-x-3">

    <!-- Foto de los productos -->
    <div class="bg-gray-100 rounded-md size-14">
      <img
        src="https://imgs.search.brave.com/kbKWufxULsmI5BsHfnjOdkQpzsHaNSxBTtk_AIcr0-4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9leHBs/b3Jld2FzaGluZ3Rv/bnN0YXRlLmNvbS93/cC1jb250ZW50L3Vw/bG9hZHMvMjAyMi8w/NC92aXZhY2UtOTg4/eDEwMjQuanBlZw" alt="Product Image"
        class="w-full h-full object-cover rounded-md"
      >
    </div>

    <!-- Estado y fecha -->
    <div class="flex flex-col">
      <div class="text-xs">Estado</div>
      <div class="text-xs">Hace 32 min.</div>
    </div>

    <!-- Tipo de pedido y Productos -->
    <div class="flex flex-col">
      <div class="text-xs">Delivery</div>
      <div class="text-xs font-semibold">4 prod.</div>
    </div>

    <!-- Precio y total -->
    <div class="text-xs font-semibold">S/. 32.00</div>

  </section>


  <section class="grid grid-cols-[auto_1fr_1fr_auto] items-center py-3 gap-x-3">

    <!-- Foto de los productos -->
    <div class="bg-gray-100 rounded-md size-14">
      <img
        src="https://imgs.search.brave.com/kbKWufxULsmI5BsHfnjOdkQpzsHaNSxBTtk_AIcr0-4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9leHBs/b3Jld2FzaGluZ3Rv/bnN0YXRlLmNvbS93/cC1jb250ZW50L3Vw/bG9hZHMvMjAyMi8w/NC92aXZhY2UtOTg4/eDEwMjQuanBlZw" alt="Product Image"
        class="w-full h-full object-cover rounded-md"
      >
    </div>

    <!-- Estado y fecha -->
    <div class="flex flex-col">
      <div class="text-xs">Estado</div>
      <div class="text-xs">Hace 32 min.</div>
    </div>

    <!-- Tipo de pedido y Productos -->
    <div class="flex flex-col">
      <div class="text-xs">Delivery</div>
      <div class="text-xs font-semibold">4 prod.</div>
    </div>

    <!-- Precio y total -->
    <div class="text-xs font-semibold">S/. 32.00</div>

  </section>


  <section class="grid grid-cols-[auto_1fr_1fr_auto] items-center py-3 gap-x-3">

    <!-- Foto de los productos -->
    <div class="bg-gray-100 rounded-md size-14">
      <img
        src="https://imgs.search.brave.com/kbKWufxULsmI5BsHfnjOdkQpzsHaNSxBTtk_AIcr0-4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9leHBs/b3Jld2FzaGluZ3Rv/bnN0YXRlLmNvbS93/cC1jb250ZW50L3Vw/bG9hZHMvMjAyMi8w/NC92aXZhY2UtOTg4/eDEwMjQuanBlZw" alt="Product Image"
        class="w-full h-full object-cover rounded-md"
      >
    </div>

    <!-- Estado y fecha -->
    <div class="flex flex-col">
      <div class="text-xs">Estado</div>
      <div class="text-xs">Hace 32 min.</div>
    </div>

    <!-- Tipo de pedido y Productos -->
    <div class="flex flex-col">
      <div class="text-xs">Delivery</div>
      <div class="text-xs font-semibold">4 prod.</div>
    </div>

    <!-- Precio y total -->
    <div class="text-xs font-semibold">S/. 32.00</div>

  </section>


  <section class="grid grid-cols-[auto_1fr_1fr_auto] items-center py-3 gap-x-3">

    <!-- Foto de los productos -->
    <div class="bg-gray-100 rounded-md size-14">
      <img
        src="https://imgs.search.brave.com/kbKWufxULsmI5BsHfnjOdkQpzsHaNSxBTtk_AIcr0-4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9leHBs/b3Jld2FzaGluZ3Rv/bnN0YXRlLmNvbS93/cC1jb250ZW50L3Vw/bG9hZHMvMjAyMi8w/NC92aXZhY2UtOTg4/eDEwMjQuanBlZw" alt="Product Image"
        class="w-full h-full object-cover rounded-md"
      >
    </div>

    <!-- Estado y fecha -->
    <div class="flex flex-col">
      <div class="text-xs">Estado</div>
      <div class="text-xs">Hace 32 min.</div>
    </div>

    <!-- Tipo de pedido y Productos -->
    <div class="flex flex-col">
      <div class="text-xs">Delivery</div>
      <div class="text-xs font-semibold">4 prod.</div>
    </div>

    <!-- Precio y total -->
    <div class="text-xs font-semibold">S/. 32.00</div>

  </section>


  <section class="grid grid-cols-[auto_1fr_1fr_auto] items-center py-3 gap-x-3">

    <!-- Foto de los productos -->
    <div class="bg-gray-100 rounded-md size-14">
      <img
        src="https://imgs.search.brave.com/kbKWufxULsmI5BsHfnjOdkQpzsHaNSxBTtk_AIcr0-4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9leHBs/b3Jld2FzaGluZ3Rv/bnN0YXRlLmNvbS93/cC1jb250ZW50L3Vw/bG9hZHMvMjAyMi8w/NC92aXZhY2UtOTg4/eDEwMjQuanBlZw" alt="Product Image"
        class="w-full h-full object-cover rounded-md"
      >
    </div>

    <!-- Estado y fecha -->
    <div class="flex flex-col">
      <div class="text-xs">Estado</div>
      <div class="text-xs">Hace 32 min.</div>
    </div>

    <!-- Tipo de pedido y Productos -->
    <div class="flex flex-col">
      <div class="text-xs">Delivery</div>
      <div class="text-xs font-semibold">4 prod.</div>
    </div>

    <!-- Precio y total -->
    <div class="text-xs font-semibold">S/. 32.00</div>

  </section>


  <section class="grid grid-cols-[auto_1fr_1fr_auto] items-center py-3 gap-x-3">

    <!-- Foto de los productos -->
    <div class="bg-gray-100 rounded-md size-14">
      <img
        src="https://imgs.search.brave.com/kbKWufxULsmI5BsHfnjOdkQpzsHaNSxBTtk_AIcr0-4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9leHBs/b3Jld2FzaGluZ3Rv/bnN0YXRlLmNvbS93/cC1jb250ZW50L3Vw/bG9hZHMvMjAyMi8w/NC92aXZhY2UtOTg4/eDEwMjQuanBlZw" alt="Product Image"
        class="w-full h-full object-cover rounded-md"
      >
    </div>

    <!-- Estado y fecha -->
    <div class="flex flex-col">
      <div class="text-xs">Estado</div>
      <div class="text-xs">Hace 32 min.</div>
    </div>

    <!-- Tipo de pedido y Productos -->
    <div class="flex flex-col">
      <div class="text-xs">Delivery</div>
      <div class="text-xs font-semibold">4 prod.</div>
    </div>

    <!-- Precio y total -->
    <div class="text-xs font-semibold">S/. 32.00</div>

  </section>


  <section class="grid grid-cols-[auto_1fr_1fr_auto] items-center py-3 gap-x-3">

    <!-- Foto de los productos -->
    <div class="bg-gray-100 rounded-md size-14">
      <img
        src="https://imgs.search.brave.com/kbKWufxULsmI5BsHfnjOdkQpzsHaNSxBTtk_AIcr0-4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9leHBs/b3Jld2FzaGluZ3Rv/bnN0YXRlLmNvbS93/cC1jb250ZW50L3Vw/bG9hZHMvMjAyMi8w/NC92aXZhY2UtOTg4/eDEwMjQuanBlZw" alt="Product Image"
        class="w-full h-full object-cover rounded-md"
      >
    </div>

    <!-- Estado y fecha -->
    <div class="flex flex-col">
      <div class="text-xs">Estado</div>
      <div class="text-xs">Hace 32 min.</div>
    </div>

    <!-- Tipo de pedido y Productos -->
    <div class="flex flex-col">
      <div class="text-xs">Delivery</div>
      <div class="text-xs font-semibold">4 prod.</div>
    </div>

    <!-- Precio y total -->
    <div class="text-xs font-semibold">S/. 32.00</div>

  </section>



  <section class="grid grid-cols-[auto_1fr_1fr_auto] items-center py-3 gap-x-3">

    <!-- Foto de los productos -->
    <div class="bg-gray-100 rounded-md size-14">
      <img
        src="https://imgs.search.brave.com/kbKWufxULsmI5BsHfnjOdkQpzsHaNSxBTtk_AIcr0-4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9leHBs/b3Jld2FzaGluZ3Rv/bnN0YXRlLmNvbS93/cC1jb250ZW50L3Vw/bG9hZHMvMjAyMi8w/NC92aXZhY2UtOTg4/eDEwMjQuanBlZw" alt="Product Image"
        class="w-full h-full object-cover rounded-md"
      >
    </div>

    <!-- Estado y fecha -->
    <div class="flex flex-col">
      <div class="text-xs">Estado</div>
      <div class="text-xs">8-04-25</div>
    </div>

    <!-- Tipo de pedido y Productos -->
    <div class="flex flex-col">
      <div class="text-xs">Tienda</div>
      <div class="text-xs font-semibold">12 prod.</div>
    </div>

    <!-- Precio y total -->
    <div class="text-xs font-semibold">S/. 133.50</div>

  </section>

</div>
