<section class="divide-y divide-zinc-200">

  @for (order of orders; track $index) {
    <div class="space-y-3 py-5">

      <div class="grid sm:grid-cols-[1fr_auto] max-sm:gap-1">
        <a routerLink="/orders/{{ order.id }}" class="font-semibold hover:underline underline-offset-4 hover:text-primary">Pedido #{{ order.id }}</a>
        <p class="text-gray-500 text-sm">{{ order.date }}</p>

        <div class="sm:row-start-1 sm:col-start-2">
          <component-shared-states state="{{ order.state }}" />
        </div>
      </div>

      <div class="grid sm:grid-cols-[1fr_auto] max-sm:gap-1">

        <!-- Usuario -->
        <div class="flex items-center gap-x-2">
          <lucide-icon [img]=UserRound class="text-zinc-500 justify-self-center size-4 stroke-[1.5]"/>
          <p class="text-sm text-gray-500">{{ order.customer }}</p>
        </div>

        <!-- Direccion -->
        <div class="flex items-center gap-x-2">

          @if (order.type === 'Delivery') {
            <lucide-icon [img]="ShoppingBag" class="text-zinc-500 justify-self-center size-4 stroke-[1.5]"/>
          }
          @if (order.type === 'En Tienda') {
            <lucide-icon [img]="Store" class="text-zinc-500 justify-self-center size-4 stroke-[1.5]"/>
          }

          <p class="text-sm text-gray-500">{{ order.address }}</p>
        </div>

        <div class="sm:row-start-1 sm:col-start-2">
          <p class="font-medium">{{ order.total | currency:'S/. ' }}</p>
        </div>
      </div>


    </div>
  }



</section>