<section class="w-full bg-white rounded-xl border border-gray-300 h-full flex flex-col contain-content">

  <!-- Título -->
  <div class="px-4 py-3 border-b border-gray-300">
    <h3 class="font-medium text-sm">Lista de Productos</h3>
  </div>

  <!-- Lista de Productos -->
  <div class="px-4 h-full flex flex-col pb-5">

    <div class="divide-gray-300 divide-y pt-3 pb-5 h-full">

      @for (product of products; track $index) {
      <div class="flex py-3 items-center gap-x-3 row-span-1 sm:row-span-2 md:row-span-1">

        <!-- Imagen -->
        <div class="min-h-16 min-w-16 max-w-16 max-h-16 bg-gray-200 border border-gray-300 rounded-lg contain-content">
          <img [src]="product.image" alt="" class="h-16 object-cover" />
        </div>

        <!-- Nombre / Disponibilidad / Categoría / Precio / Descuento -->
        <div class="space-y-1">
          <div class="flex items-center gap-x-2">
            <!-- Nombre -->
            <a routerLink="/dashboard/productos/{{product.id}}"
              class="line-clamp-1 font-medium text-sm hover:underline underline-offset-4 hover:text-primary">
              ({{ product.quantity }}) {{ product.name }}
            </a>

            <!-- Disponibilidad -->
            @if (product.enabled) {
            <lucide-icon [img]=CircleCheck class="text-green-600 justify-self-center size-4 stroke-[1.5]" />
            }
            @else {
            <lucide-icon [img]=CircleMinus class="text-gray-700 justify-self-center size-4 stroke-[1.5]" />
            }
          </div>

          <div class="flex items-center gap-x-2">
            <!-- Precio -->
            <p class="text-gray-500 text-sm">{{ product.price | currency:'S/. ' }}</p>

            <!-- Oferta / Promoción -->
            @if (product.offer) {
            <component-shared-states state="En Oferta" />
            }
            @if (product.promotion) {
            <component-shared-states state="En Promocion" />
            }
          </div>
        </div>

      </div>
      }

      @for (promotion of promotions; track $index) {
      <section class="rounded-lg border border-amber-600 mt-5 contain-content">

        <div class="flex items-center justify-between border-b border-b-amber-600 py-3 px-4 text-sm">
          <a routerLink="" class="hover:underline underline-offset-4 font-medium text-amber-600 ">{{ promotion.name
            }}</a>
          <p>{{ promotion.price | currency:'S/. ' }}</p>
        </div>

        <!-- Iterar los productos de la promoción -->
        <div class="px-4 divide-y divide-gray-300 py-2">

          <div *ngFor="let product of promotion.products" class="py-2 flex items-center gap-x-3">

            <!-- Imagen del producto -->
            <div
              class="min-h-14 min-w-14 max-w-14 max-h-14 bg-gray-200 border border-gray-300 rounded-lg contain-content">
              <img [src]="product.image" alt="{{ product.name }}" class="h-14 object-cover" />
            </div>

            <!-- Detalles del producto -->
            <div class="space-y-1">

              <div class="flex items-center gap-x-2">
                <!-- Nombre -->
                <a routerLink="/dashboard/productos/{{product.id}}"
                  class="line-clamp-1 font-medium text-sm hover:underline underline-offset-4 hover:text-primary">
                  ({{ product.quantity }}) {{ product.name }}
                </a>

                <!-- Disponibilidad -->
                @if (product.enabled) {
                <lucide-icon [img]=CircleCheck class="text-green-600 justify-self-center size-4 stroke-[1.5]" />
                }
                @else {
                <lucide-icon [img]=CircleMinus class="text-gray-700 justify-self-center size-4 stroke-[1.5]" />
                }
              </div>

              <p class="text-gray-500 line-through text-sm">{{ product.price | currency:'S/. ' }}</p>
            </div>
          </div>
        </div>

      </section>
      }

    </div>

    <!-- Precios -->
    <div class="space-y-5">

      <div class="border-y border-gray-300 py-4 space-y-1">

        <!-- Costo por Productos -->
        <div class="flex text-gray-500 text-sm items-center justify-between gap-x-3">
          <p>Costo por productos:</p>
          <p>{{ 173.30 | currency:'S/. ' }}</p>
        </div>

        <!-- Costo por Entrega -->
        <div class="flex text-gray-500 text-sm items-center justify-between gap-x-3">
          <p>Costo por entrega:</p>
          <p>{{ 0 | currency:'S/. ' }}</p>
        </div>

        <!-- Cupón de Descuento -->
        <div class="flex text-primary text-sm items-center justify-between gap-x-3">
          <p>Cupón:</p>
          <p>- {{ 50 | currency:'S/. ' }}</p>
        </div>

        <!-- Descuentos -->
        <div class="flex text-gray-500 text-sm items-center justify-between gap-x-3">
          <p>Descuento directo:</p>
          <p>{{ 0 | currency:'S/. ' }}</p>
        </div>

      </div>

      <!-- Precio Total -->
      <div class="flex font-medium items-center justify-between gap-x-3">
        <p>Precio Total:</p>
        <p class="">{{ 123 | currency:'S/. ' }}</p>
      </div>

    </div>
  </div>

</section>
