
<section class="w-full flex flex-col gap-y-7 relative">

  <!-- Título -->
  <div class="">
    <a routerLink=".." class="text-primary text-sm hover:underline underline-offset-4 font-semibold">Regresar</a>

    <div class="flex items-center gap-x-5">
      <!-- Id del Pedido -->
      <p class="text-lg font-medium">Pedido #ORD-073722080425</p>

      <!-- Estado del Pedido -->
      <component-shared-states state="Pendiente" />
    </div>

    <!-- Fecha de pedido -->
    <p class="text-sm text-gray-500">Actualizado hace 20 min.</p>
  </div>

  <!-- Contenido -->
  <div class="grid xl:grid-cols-[1fr_auto] gap-5 h-full">

    <!-- Lista de Productos -->
    <div class="overflow-y-auto gap-5 grid grid-rows-[1fr_auto] order-2 xl:order-1">
      <component-orders-products-list />
      <component-orders-comments />
    </div>

    <!-- Información del Pedido -->
    <div class="relative order-1 xl:order-2">
      <div class="sticky -top-5">
        <component-orders-info />
      </div>
    </div>

  </div>


  <!-- Toast Component (Editar / Eliminar / Exportar) -->
  <div class="sticky -bottom-5 sm:-bottom-3 left-1/2 transform z-50 mt-5 w-full flex justify-center">
    <component-shared-toast [orders]=true />
  </div>


</section>

