@import "tailwindcss";

/* Adds pointer cursor to buttons */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

/* Defaults hover styles on all devices */
@custom-variant hover (&:hover);


@theme {

  --font-primary: "Inter", sans-serif;

  --color-primary: #51965c;
  --color-primary-light: #75b37f;
  --color-primary-dark: #396f42;

}

:root {
  @apply font-primary;
}

.btn-primary {
  @apply bg-primary flex items-center justify-center gap-x-2 text-white text-sm font-medium rounded-lg px-4 py-2 hover:bg-primary-dark transition-colors;
}

input {
  @apply placeholder:text-gray-500
}


/* Paginacion */
.paginator-active {
  @apply size-7 font-medium text-white bg-primary hover:bg-primary-dark border border-primary hover:border-primary-dark rounded-lg
}

.paginator-inactive {
  @apply size-7 font-medium bg-white hover:border border-primary rounded-lg;
}
