<div class="flex flex-col space-y-1">

  <a
      class="px-5 py-2.5 text-sm text-gray-800 border-l-2 border-transparent hover:bg-gray-100 flex items-center gap-x-2.5"
      routerLink="/dashboard"
      routerLinkActive="text-primary border-l-primary"
      [routerLinkActiveOptions]="{exact: true}"
      [attr.data-hs-overlay]="isMobile ? '#sidebar' : null"
    >
      <lucide-icon [name]="Activity" class="size-4" />
      Overview
    </a>

  @for (link of links; track $index) {

    <a
      class="px-5 py-2.5 sm:text-sm text-gray-800 border-l-2 border-transparent hover:bg-gray-100 flex items-center gap-x-2.5"
      routerLink="{{link.href}}"
      routerLinkActive="text-primary border-l-primary"
      [attr.data-hs-overlay]="isMobile ? '#sidebar' : null"
    >
      <lucide-icon [name]="link.icon" class="size-4" />
      {{link.text}}
    </a>

  }


</div>
